deploymentTargetSelector.xml
deviceManager.xml
gradle.xml
AndroidProjectSystem.xml
compiler.xml
misc.xml
runConfigurations.xml
inspectionProfiles/
vcs.xml
dataSources.xml
dataSources.local.xml
dataSources/
db-forest-config.xml
copilot.data.migration.*.xml
